<div class="container py-4">
  <img class="img-fluid rounded" ngSrc="./assets/PXL_20211201_163405442.MP.jpg" alt="teacher joan jimenez" height="648"
       width="1152"/>
  <div class="hero-text-container pb-3">
    <h1 class="fw-bold mt-3">Joan Jimenez</h1>
    <small class="text-body-secondary">Web Dev & Teacher</small>
  </div>
  <div class="favorites-list ">
      <h3>Mis cosas favoritas</h3>
    <ul class="text-body-secondary">
      <li>📚 Aprender</li>
      <li>😋 Comer</li>
      <li>🎥 Ver Series</li>
      <li>🫱🏻‍🫲🏿 Conocer gente</li>
    </ul>
  </div>
  <div class="pb-3">
    <h3>¿Quieres saber más?</h3>
    <p class="text-body-secondary">
      Soy una persona que le gusta aprender, me gusta la tecnología, la
      programación, el analisis de datos, la enseñanza y la comida. Me gusta conocer gente nueva y
      aprender de ellos. Me gusta la música, el cine y las series. Me gusta
      compartir lo que sé y aprender de los demás.
    </p>
  </div>
  <div>
    <h3>Contacto</h3>
    <p class="text-body-secondary">Puedes contactarme en mi portafolio: <a href="https://www.joanjimenez.me">www.joanjimenez.me</a>  </p>
  </div>
  <button
    type="button"
    routerLink="/"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="btn btn-danger"
  >Volver al Inicio
  </button>
</div>
