.container {
  font-size: 1.2rem;
  margin-top: 10rem;
}

img {
  max-width: 300px;
  height: auto;
}

.list-group-item a {
  text-decoration: none;
  color: #333;
}

.list-group-item a:hover {
  color: #007bff;
}
