<div class="container text-center">
  <h1>Oops! You've stumbled into the Bermuda Triangle of the internet.</h1>
  <img
    src="assets/images/404_error.png"
    alt="404 Error Image"
    class="img-fluid mb-4"
  />
  <p>
    We searched high and low, but that page just doesn't exist. Maybe it got
    eaten by a rogue pixel or abducted by aliens. Fear not, intrepid explorer!
    Here are some options:
  </p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a routerLink="/">Head back to civilization (Home Page)</a>
    </li>
    <li class="list-group-item">
      <a href="mailto:feedback@yourwebsite.com"
        >Report a missing page (Maybe you'll get a reward!)</a
      >
    </li>
    <li class="list-group-item">
      Become a meme archaeologist and dig deeper into the internet's mysteries.
    </li>
  </ul>
</div>
